# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# SASS Cache
.sass-cache
sites/all/themes/austin/.sass-cache

*.log
*.sql

.htaccess

