/* Vendor Dependencies */
/* Global */
/* line 1, ../sass/global/_reset.scss */
* {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* line 1, ../sass/global/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 1, ../sass/global/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 1, ../sass/global/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 1, ../sass/global/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 1, ../sass/global/_reset.scss */
button, input {
  line-height: normal;
}

/* line 1, ../sass/global/_reset.scss */
input {
  -webkit-appearance: none;
  border-radius: 0;
}

/* line 1, ../sass/global/_reset.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 1, ../sass/global/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 1, ../sass/global/_reset.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../sass/global/_reset.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* line 1, ../sass/global/_reset.scss */
iframe {
  width: 100%;
}

/* line 1, ../sass/global/_reset.scss */
object {
  max-width: 100%;
}

/* line 1, ../sass/global/_reset.scss */
a {
  text-decoration: none;
}

/* line 1, ../sass/global/_reset.scss */
.cf:before, .cf:after {
  content: " ";
  display: table;
}

/* line 1, ../sass/global/_reset.scss */
.cf:after {
  clear: both;
}

/* line 1, ../sass/global/_reset.scss */
.cf {
  *zoom: 1;
}

/* line 11, ../sass/global/_typography.scss */
h1, h2, h3, h4, h5 {
  font-family: "proxima-nova", Helvetica, arial, sans-serif;
  font-weight: 300;
}

/* line 16, ../sass/global/_typography.scss */
h1 {
  font-size: 62px;
  line-height: 1;
  text-transform: uppercase;
}

/* line 22, ../sass/global/_typography.scss */
h2 {
  font-size: 45px;
  line-height: 1.1em;
}

/* line 30, ../sass/global/_typography.scss */
.title-bar {
  padding: 72px 0 24px;
}

/* line 34, ../sass/global/_typography.scss */
.page-title {
  margin-bottom: 0.25em;
  text-align: center;
}

/* line 41, ../sass/global/_typography.scss */
.block-page-content p,
.views-field-body p,
.body p {
  margin-bottom: 1em;
}

/* line 45, ../sass/global/_typography.scss */
a {
  -webkit-transition: color 0.15s ease-in;
  -moz-transition: color 0.15s ease-in;
  -o-transition: color 0.15s ease-in;
  transition: color 0.15s ease-in;
  color: #da0b38;
  text-decoration: none;
}
/* line 49, ../sass/global/_typography.scss */
a:hover {
  color: #fff;
}

/** COMMON TYPE STYLES
========================================================****/
/* line 60, ../sass/global/_typography.scss */
.red-ital,
.view-blog .views-field-created,
.views-field-field-publication {
  color: #dc0032;
  font-style: italic;
  letter-spacing: 0.1em;
  text-align: center;
}

/* line 68, ../sass/global/_typography.scss */
.views-field-title .post-title,
.node-type-events .post-title {
  color: #dc0032;
  font-family: "adobe-caslon-pro", Georgia, serif;
  font-style: italic;
  line-height: 1.25em;
  letter-spacing: 0.1em;
  text-align: center;
}

/* line 77, ../sass/global/_typography.scss */
.views-field-title a .post-title:hover {
  color: #323232;
}

/* line 81, ../sass/global/_typography.scss */
.read-more {
  font: 700 0.875em/1em "proxima-nova", Arial, sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* $sprite: image-url("sprite.svg"); */
/* line 1, ../sass/global/_base.scss */
body {
  background: url('../images/bg-body-int.jpg?1396021925') no-repeat center top black;
  color: #fff;
  font: 400 1em/1.5em "proxima-nova", Helvetica, arial, sans-serif;
}
/* line 5, ../sass/global/_base.scss */
body.front {
  background: #000;
}

/* line 10, ../sass/global/_base.scss */
.wrapper {
  *zoom: 1;
  width: 1140px;
  margin: 0 auto;
}
/* line 2, ../sass/global/_mixins.scss */
.wrapper:before, .wrapper:after {
  content: " ";
  display: block;
}
/* line 6, ../sass/global/_mixins.scss */
.wrapper:after {
  clear: both;
}

/* line 16, ../sass/global/_base.scss */
.main .wrapper {
  width: 1212px;
  padding: 24px 36px;
  background: rgba(0, 0, 0, 0.7);
}

/* line 24, ../sass/global/_base.scss */
.page-node-4 .content,
.page-node-5 .content,
.node-type-blog-post .content {
  float: left;
  width: 846px;
}

/* line 29, ../sass/global/_base.scss */
.right-sidebar {
  float: right;
  width: 228px;
}

/* line 2, ../sass/global/_icons.scss */
[class*="icon-"] {
  display: inline-block;
  background: url('../images/sprite.svg?1396286771') no-repeat 0 0;
}

/* line 7, ../sass/global/_icons.scss */
.icon-marker {
  width: 11px;
  height: 16px;
}

/* line 12, ../sass/global/_icons.scss */
.icon-visit {
  width: 16px;
  height: 13px;
  background-position: 0 -19px;
}

/* line 2, ../sass/global/_forms.scss */
.webform-client-form,
.form-item {
  position: relative;
}

/* line 10, ../sass/global/_forms.scss */
input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  max-width: 100%;
  padding: 5px 8px;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1em;
  font-family: Georgia, serif;
}

/* line 20, ../sass/global/_forms.scss */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #fff;
  font: 600 14px/1em "proxima-nova", Helvetica, arial, sans-serif;
  text-transform: uppercase;
  text-indent: 0.01px;
  text-overflow: "";
}

/* line 30, ../sass/global/_forms.scss */
.webform-component-select:before,
.form-type-select:before {
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  z-index: 99;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #da0b38;
}

/* line 43, ../sass/global/_forms.scss */
input[type="submit"] {
  -webkit-transition: background 0.15s ease-in;
  -moz-transition: background 0.15s ease-in;
  -o-transition: background 0.15s ease-in;
  transition: background 0.15s ease-in;
  padding: 5px 8px;
  background: #da0b38;
  border: none;
  color: #fff;
  font: 600 1em/1 "proxima-nova", Helvetica, arial, sans-serif;
  text-transform: uppercase;
}

/* line 53, ../sass/global/_forms.scss */
input[type="submit"]:hover {
  background: #ff003a;
}

/* line 57, ../sass/global/_forms.scss */
.not-front.page-node-done #content {
  width: 100%;
  padding: 4em 0;
  font-size: 3em;
  font-style: italic;
  text-align: center;
}

/* line 65, ../sass/global/_forms.scss */
.node-webform .webform-component {
  margin-bottom: 1em;
}

/* line 69, ../sass/global/_forms.scss */
.page-node-done .links {
  display: none;
}

/* line 73, ../sass/global/_forms.scss */
.description {
  font-size: 0.75em;
}

/* line 77, ../sass/global/_forms.scss */
#user-login .form-item {
  margin-bottom: 1em;
}

/* line 81, ../sass/global/_forms.scss */
.form-item input.error, .form-item textarea.error, .form-item select.error {
  border: 1px solid #dc0032;
}

/* line 86, ../sass/global/_forms.scss */
.messages.error,
.form-item label.error {
  display: none;
  visibility: hidden;
}

/*

.form-block {
    margin-bottom: $base;
}

.form-item,
.form-item-set {
	margin-bottom: 12px;
	&:last-of-type {
    	margin-bottom: 0;
	}
}

.form-item-set .form-item {
    margin-bottom: 0;
}

.form-two-col {
    @include cf;
    .form-item {
    	float: left;
    	width: 42%;
    	margin-right: 4%;

        @include bp-max-width($xsmall) {
            float: none;
            width: 100%;
            margin-right: 0;
        }
    }
}

label {
	display: block;
	margin-bottom: 2px;
	font-family: $proxima;
	font-size: 16px;
}

input[type="text"],
input[type="email"],
textarea,
select {
	width: 100%;
	max-width: 340px;
	padding: 8px 12px;
	background: rgba($lt-grey, 0.3);
	border: 1px solid $clay;
	border-radius: 5px;
	font: 400 1em/1em  $proxima;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
	border: 1px solid $dk-clay;
}

textarea {
	height: 5em;
}
*/
/** Fieldset ============**/
/*

fieldset {
    margin-bottom: $base*2;
    &:last-of-type {
        margin-bottom: $base;
    }
}

fieldset .title,
.order-summary .title {
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid $md-grey;
    font: $book 24px/1 $proxima;
}

*/
/** Checkboxes ============**/
/*
.form-checkbox {
    position: relative;
    margin-bottom: 0.5em;
    input {
        opacity: 0;
        float: left;
        width: 20px;
    }
}

.form-checkbox label {
    padding-left: 20px;
    margin-bottom: 0;
    cursor: pointer;
    color: $dk-green;
    font-family: $proxima;
    font-size: 13px;
    &:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 0;
        width: 13px;
        height: 13px;
        background: $md-grey;
        border-radius: 3px;
    }
    
    .description {
        display: block;
        color: $clay;
        font-size: 12px;
        line-height: 1;
    }
}

.form-checkbox input[type="checkbox"]:checked + label:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 13px;
    height: 15px;
    background: $checkmarks no-repeat 0 0;
}

.checkboxes input {
    opacity: 0;
    float: left;
    width: 20px;
}

*/
/** Radio ============**/
/*
.form-radio {
    label, input {
        display: inline-block;
    }
}
*/
/** Buttons ============**/
/*
input[type="submit"], button {
	padding: 0.5em 1em 0.66em;
	border-radius: 4px;
	background: $red;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	border: none;
	font: 400 1em/1.5em $kult;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	cursor: pointer;

    @include bp-max-width($small) {
        width: 100%;
    }
}

input[type="submit"]:hover, button:hover {
	background: $dk-red;
	color: #fff;
}
*/
/* line 3, ../sass/global/_grid.scss */
.grid {
  *zoom: 1;
  margin: 0 -18px 24px -18px;
}
/* line 2, ../sass/global/_mixins.scss */
.grid:before, .grid:after {
  content: " ";
  display: block;
}
/* line 6, ../sass/global/_mixins.scss */
.grid:after {
  clear: both;
}

/* line 8, ../sass/global/_grid.scss */
[class*='col-'] {
  float: left;
  margin-right: 36px;
}

/* line 13, ../sass/global/_grid.scss */
.col-3-4 {
  width: 846px;
}

/* line 17, ../sass/global/_grid.scss */
.col-2-3 {
  width: 784px;
}

/* line 21, ../sass/global/_grid.scss */
.col-1-2 {
  width: 552px;
}

/* line 25, ../sass/global/_grid.scss */
.col-1-3 {
  width: 356px;
}

/* line 29, ../sass/global/_grid.scss */
.col-1-4 {
  width: 258px;
}

/* line 2, ../sass/global/_buttons.scss */
.btn {
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  border: 2px solid #fff;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* Modules */
/* line 1, ../sass/modules/_tabs.scss */
.tabs {
  margin: 1em 0;
  text-align: center;
}
/* line 4, ../sass/modules/_tabs.scss */
.tabs li {
  display: inline-block;
  margin: 0 0.5em;
}

/* line 10, ../sass/modules/_tabs.scss */
.tabs a {
  display: inline-block;
  padding: 5px 10px;
  background: #da0b38;
  border-radius: 5px;
  color: #fff;
}
/* line 16, ../sass/modules/_tabs.scss */
.tabs a:hover {
  background: #aaa;
}

/* line 1, ../sass/modules/_contact-form.scss */
.contact-form {
  position: relative;
}
/* line 3, ../sass/modules/_contact-form.scss */
.contact-form .form-item {
  border: 1px solid #fff;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

/* line 9, ../sass/modules/_contact-form.scss */
.contact-form label {
  position: absolute;
  top: 3px;
  left: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 19, ../sass/modules/_contact-form.scss */
.contact-form .description {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 27, ../sass/modules/_contact-form.scss */
.contact-form .webform-component-textfield,
.contact-form .webform-component-email,
.contact-form .webform-component-select {
  float: left;
  margin-bottom: 10px;
}

/* line 32, ../sass/modules/_contact-form.scss */
.contact-form .webform-component-textfield {
  width: 190px;
  margin-right: 10px;
}

/* line 37, ../sass/modules/_contact-form.scss */
.contact-form .webform-component-email {
  width: 190px;
  margin-right: 10px;
}

/* line 42, ../sass/modules/_contact-form.scss */
.contact-form .webform-component-select {
  width: 152px;
}

/* line 46, ../sass/modules/_contact-form.scss */
.contact-form .webform-component-textarea {
  clear: both;
  width: 100%;
}

/* line 51, ../sass/modules/_contact-form.scss */
.contact-form textarea {
  height: 138px;
  resize: none;
}

/* line 56, ../sass/modules/_contact-form.scss */
.contact-form .form-actions {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

/* line 62, ../sass/modules/_contact-form.scss */
.contact-form input[type="submit"] {
  text-transform: uppercase;
  font-size: 0.875em;
  font-weight: 600;
}

/* line 1, ../sass/modules/_slider.scss */
.flex-container a:active, .view-theater .view-content a:active, .flex-container a:focus, .view-theater .view-content a:focus {
  outline: none;
}

/* line 2, ../sass/modules/_slider.scss */
.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/
/* line 6, ../sass/modules/_slider.scss */
.view-theater .view-content {
  margin: 0;
  padding: 0;
}

/* line 7, ../sass/modules/_slider.scss */
.view-theater .view-content .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
/* line 8, ../sass/modules/_slider.scss */
.view-theater .view-content .slides img {
  width: 100%;
  display: block;
}

/* line 9, ../sass/modules/_slider.scss */
.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */
/* line 12, ../sass/modules/_slider.scss */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 13, ../sass/modules/_slider.scss */
html[xmlns] .slides {
  display: block;
}

/* line 14, ../sass/modules/_slider.scss */
* html .slides {
  height: 1%;
}

/* line 15, ../sass/modules/_slider.scss */
.no-js .slides > li:first-child {
  display: block;
}

/* FlexSlider Default Theme
*********************************/
/* line 20, ../sass/modules/_slider.scss */
#block-views-theater-block-1 {
  border-top: 1px solid #cfcfcf;
  box-shadow: 0 -1px 0 #fff, 0 -2px 0 #fff, 0 -3px 0 #cfcfcf;
}

/* line 25, ../sass/modules/_slider.scss */
#block-views-theater-block-1 .block-title {
  margin-top: 1em;
  text-align: center;
}

/* line 30, ../sass/modules/_slider.scss */
.view-theater .view-content {
  position: relative;
  zoom: 1;
}

/* line 35, ../sass/modules/_slider.scss */
.view-theater .slides {
  padding: 3px;
  background: #efebe2;
  border: 1px solid #cecece;
}

/* line 41, ../sass/modules/_slider.scss */
.view-theater .ss-icon {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -10px;
  padding: 5px 7px 0;
  background: #fff;
  border-radius: 17px;
  color: #dc0032;
  font-size: 0.875em;
  line-height: 1.5em;
}

/* line 55, ../sass/modules/_slider.scss */
.view-theater li:hover .ss-icon {
  display: block;
}

/* line 59, ../sass/modules/_slider.scss */
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 60, ../sass/modules/_slider.scss */
.loading .flex-viewport {
  max-height: 300px;
}

/* line 61, ../sass/modules/_slider.scss */
.view-theater .view-content .slides {
  zoom: 1;
}

/* line 62, ../sass/modules/_slider.scss */
.carousel li {
  margin-right: 5px;
}

/* Direction Nav */
/* line 65, ../sass/modules/_slider.scss */
.flex-direction-nav {
  overflow: hidden;
  margin-top: 5px;
  padding: 5px 0;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cfcfcf;
  box-shadow: 0 1px 0 #fff, 0 2px 0 #fff, 0 3px 0 #cfcfcf;
}

/* line 73, ../sass/modules/_slider.scss */
.flex-direction-nav a {
  width: 21px;
  height: 13px;
  display: block;
  background: url(../images/sprite.png) no-repeat -579px -179px;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-transition: all .3s ease;
}

/* line 82, ../sass/modules/_slider.scss */
.flex-direction-nav .flex-next {
  float: right;
}

/* line 83, ../sass/modules/_slider.scss */
.flex-direction-nav .flex-prev {
  float: left;
  background-position: -579px -244px;
}

/* line 2, ../sass/modules/_filters.scss */
.views-exposed-form .views-exposed-widget {
  float: none;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
}

/* line 9, ../sass/modules/_filters.scss */
.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0;
}

/* line 13, ../sass/modules/_filters.scss */
.view-filters {
  position: relative;
  margin-bottom: 48px;
  padding-top: 32px;
  text-align: center;
}
/* line 18, ../sass/modules/_filters.scss */
.view-filters label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font: italic 400 18px/1 "ltc-bodoni-175", Georgia, serif;
}
/* line 25, ../sass/modules/_filters.scss */
.view-filters .form-type-select {
  border: 1px solid #fff;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
/* line 29, ../sass/modules/_filters.scss */
.view-filters .form-submit {
  height: 32px;
}

/* Pages */
/* line 2, ../sass/pages/_home.scss */
.front .content {
  width: 588px;
  margin: 96px 0;
  padding-left: 98px;
}

/* line 9, ../sass/pages/_home.scss */
.front .body h1 {
  margin-bottom: 12px;
  font-size: 42px;
}
/* line 13, ../sass/pages/_home.scss */
.front .body p {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 24px;
}
/* line 18, ../sass/pages/_home.scss */
.front .body a {
  display: inline-block;
  color: #fff;
  padding: 10px 30px;
  border: 2px solid #fff;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* line 2, ../sass/pages/_collection.scss */
#block-views-gowns-block-2 {
  margin: 0 -18px;
}

/* line 6, ../sass/pages/_collection.scss */
#block-views-gowns-block-2 .views-row {
  float: left;
  width: 258px;
  margin: 0 18px 18px;
  border: 2px solid #efebe2;
}

/* line 14, ../sass/pages/_collection.scss */
#block-views-gowns-block-2 .views-row a .view-gown {
  -webkit-transition: opacity 0.15s ease-in;
  -moz-transition: opacity 0.15s ease-in;
  -o-transition: opacity 0.15s ease-in;
  transition: opacity 0.15s ease-in;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
}
/* line 24, ../sass/pages/_collection.scss */
#block-views-gowns-block-2 .views-row a .view-gown .title-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 30, ../sass/pages/_collection.scss */
#block-views-gowns-block-2 .views-row a .view-gown .title {
  margin-bottom: 24px;
  color: #fff;
  font: 400 28px/1 "ltc-bodoni-175", Georgia, serif;
}
/* line 35, ../sass/pages/_collection.scss */
#block-views-gowns-block-2 .views-row a .view-gown .btn {
  width: 120px;
  padding: 0;
  border-width: 1px;
  font-size: 12px;
}

/* line 43, ../sass/pages/_collection.scss */
#block-views-gowns-block-2 .views-row a:hover .view-gown {
  opacity: 1;
}

/** GOWN PROFILE ======================**/
/* line 51, ../sass/pages/_collection.scss */
.node-type-gown .content {
  *zoom: 1;
  float: none;
  width: 100%;
}
/* line 2, ../sass/global/_mixins.scss */
.node-type-gown .content:before, .node-type-gown .content:after {
  content: " ";
  display: block;
}
/* line 6, ../sass/global/_mixins.scss */
.node-type-gown .content:after {
  clear: both;
}

/* line 57, ../sass/pages/_collection.scss */
.node-type-gown .main {
  min-height: 800px;
}

/* line 61, ../sass/pages/_collection.scss */
.gown-nav {
  max-width: 1212px;
  margin: 0 auto 1em;
  border-top: 1px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
}

/* line 68, ../sass/pages/_collection.scss */
.gown-nav a {
  display: block;
  padding: 5px 30px;
  background: url(../images/sprite.png) no-repeat -489px -169px;
  font-family: "proxima-nova",Arial,sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* line 79, ../sass/pages/_collection.scss */
.gown-nav .next {
  float: right;
  padding-left: 20px;
  border-left: 1px solid #c6c6c6;
}

/* line 85, ../sass/pages/_collection.scss */
.gown-nav .prev {
  float: left;
  padding-right: 20px;
  background-position: -579px -234px;
  border-right: 1px solid #c6c6c6;
}

/* line 92, ../sass/pages/_collection.scss */
.gown-images {
  position: relative;
  min-height: 760px;
}

/* line 97, ../sass/pages/_collection.scss */
.gown-info {
  margin-right: 0;
}

/* line 101, ../sass/pages/_collection.scss */
.zoom-label {
  position: absolute;
  right: 3px;
  bottom: 10px;
  display: block;
  padding: 5px 10px;
  background: #fff;
  color: #adadad;
  z-index: 99;
}

/* line 112, ../sass/pages/_collection.scss */
.gown-images li {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 118, ../sass/pages/_collection.scss */
.gown-images img {
  max-width: 480px;
  box-shadow: 1px 1px 0 #cecece, -1px -1px 0 #cecece, -1px 1px 0 #cecece, 1px -1px 0 #cecece;
  border: 3px solid #efebe2;
}

/* line 124, ../sass/pages/_collection.scss */
.gown-info .post-title {
  font: 400 45px/1.25em "ltc-bodoni-175", Georgia, serif;
}

/* line 128, ../sass/pages/_collection.scss */
.gown-info .thumbs {
  margin-bottom: 1em;
  padding: 1em 0 0.5em;
  border-top: 1px solid #CFCFCF;
  border-bottom: 1px solid #CFCFCF;
}

/* line 135, ../sass/pages/_collection.scss */
.gown-info .thumbs li {
  float: left;
  margin: 0 14px 14px 0;
  box-shadow: 1px 1px 0 #cecece, -1px -1px 0 #cecece, -1px 1px 0 #cecece, 1px -1px 0 #cecece;
  border: 3px solid #efebe2;
}

/* line 142, ../sass/pages/_collection.scss */
.gown-info .thumbs li:nth-child(3n) {
  margin-right: 0;
}

/* line 146, ../sass/pages/_collection.scss */
.gown-info .ss-icon {
  float: left;
  margin-right: 10px;
}

/* line 151, ../sass/pages/_collection.scss */
.gown-info .ss-icon a {
  padding: 5px 7px 0;
  background: #dc0032;
  border-radius: 17px;
  color: #fff;
  font-size: 1.25em;
  line-height: 30px;
}

/* line 160, ../sass/pages/_collection.scss */
.gown-info .ss-icon a:hover {
  background: #323232;
}

/* line 164, ../sass/pages/_collection.scss */
.gown-info .share {
  margin-bottom: 2em;
}

/* line 168, ../sass/pages/_collection.scss */
.gown-info .share h3 {
  margin-bottom: 1em;
  font-size: 0.875em;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* line 1, ../sass/pages/_blog.scss */
.page-node-5 .page-title:before {
  content: "the World of";
  display: block;
  margin-bottom: 16px;
  font: italic 400 28px/1em "ltc-bodoni-175", Georgia, serif;
  text-transform: none;
}

/* line 9, ../sass/pages/_blog.scss */
.view-blog .views-row {
  margin-bottom: 2em;
  padding-bottom: 1em;
}

/* line 14, ../sass/pages/_blog.scss */
.view-blog .category {
  position: relative;
  margin-bottom: 32px;
  color: #9e9e9e;
  font: italic 400 16px/1em "ltc-bodoni-175", Georgia, serif;
  letter-spacing: 2px;
  text-align: center;
}
/* line 21, ../sass/pages/_blog.scss */
.view-blog .category:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -16px;
  width: 72px;
  height: 1px;
  margin-left: -36px;
  background: #da0b38;
}

/* line 33, ../sass/pages/_blog.scss */
.view-blog .post-title {
  margin-bottom: 48px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: none;
}
/* line 38, ../sass/pages/_blog.scss */
.view-blog .post-title a {
  color: #fff;
}
/* line 40, ../sass/pages/_blog.scss */
.view-blog .post-title a:hover {
  color: #da0b38;
}

/* line 46, ../sass/pages/_blog.scss */
.view-blog .post-content {
  *zoom: 1;
  margin-bottom: 24px;
}
/* line 2, ../sass/global/_mixins.scss */
.view-blog .post-content:before, .view-blog .post-content:after {
  content: " ";
  display: block;
}
/* line 6, ../sass/global/_mixins.scss */
.view-blog .post-content:after {
  clear: both;
}

/* line 51, ../sass/pages/_blog.scss */
.view-blog .image {
  float: left;
  margin: 0 1.5em 1em 0;
  box-shadow: 1px 1px 0 #cecece, -1px -1px 0 #cecece, -1px 1px 0 #cecece, 1px -1px 0 #cecece;
  border: 3px solid #efebe2;
}

/* line 58, ../sass/pages/_blog.scss */
.view-blog .post-date {
  color: #9e9e9e;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 65, ../sass/pages/_blog.scss */
.view-blog .social-links {
  border-bottom: 1px solid #9e9e9e;
  text-align: center;
}
/* line 68, ../sass/pages/_blog.scss */
.view-blog .social-links li {
  background: #000;
  display: inline-block;
  padding: 0 10px;
}
/* line 73, ../sass/pages/_blog.scss */
.view-blog .social-links .ss-icon {
  color: #9e9e9e;
  font-size: 20px;
}

/* line 2, ../sass/pages/_stores.scss */
.view-stores .views-row {
  *zoom: 1;
  padding: 12px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
/* line 2, ../sass/global/_mixins.scss */
.view-stores .views-row:before, .view-stores .views-row:after {
  content: " ";
  display: block;
}
/* line 6, ../sass/global/_mixins.scss */
.view-stores .views-row:after {
  clear: both;
}
/* line 6, ../sass/pages/_stores.scss */
.view-stores .views-row:first-of-type {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

/* line 11, ../sass/pages/_stores.scss */
.view-stores .col {
  float: left;
}

/* line 15, ../sass/pages/_stores.scss */
.view-stores .store-title {
  width: 40%;
  font-size: 18px;
  font-weight: 400;
}

/* line 21, ../sass/pages/_stores.scss */
.view-stores .store-state {
  width: 20%;
  min-height: 1px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 29, ../sass/pages/_stores.scss */
.view-stores .store-city {
  width: 20%;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 36, ../sass/pages/_stores.scss */
.view-stores .store-map {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 40, ../sass/pages/_stores.scss */
.view-stores .store-map .icon-marker {
  margin-left: 4px;
  vertical-align: -3px;
}

/* line 46, ../sass/pages/_stores.scss */
.view-stores .store-website {
  float: right;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 51, ../sass/pages/_stores.scss */
.view-stores .store-website .icon-visit {
  margin-left: 4px;
  vertical-align: -1px;
}

/* line 2, ../sass/pages/_user-login.scss */
#user-login {
  width: 360px;
  margin: 0 auto 4em;
}

/* Sections */
/* line 1, ../sass/sections/_header.scss */
.header {
  height: 70px;
}
/* line 3, ../sass/sections/_header.scss */
.header .wrapper {
  position: relative;
}

/* line 8, ../sass/sections/_header.scss */
.logo {
  position: absolute;
  top: 0;
  left: -2px;
  z-index: 99;
}
/* line 13, ../sass/sections/_header.scss */
.logo a {
  display: block;
  width: 319px;
  height: 179px;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
}

/* line 22, ../sass/sections/_header.scss */
.main-nav {
  position: relative;
  z-index: 99;
  float: right;
  padding-top: 5px;
}

/* line 29, ../sass/sections/_header.scss */
.main-nav li {
  float: left;
  min-height: 56px;
  padding: 0 20px;
  border-left: 2px dotted #272727;
}

/* line 36, ../sass/sections/_header.scss */
.main-nav a {
  display: block;
  color: #efebe2;
  font: 600 0.813em/4.25em "proxima-nova", Helvetica, arial, sans-serif;
  text-transform: uppercase;
}

/* line 43, ../sass/sections/_header.scss */
.menu-208 a:before {
  content: "the Art of ";
}

/* line 47, ../sass/sections/_header.scss */
.menu-209 a:before {
  content: "the World of ";
}

/* line 52, ../sass/sections/_header.scss */
.main-nav .menu-208 a,
.main-nav .menu-209 a {
  line-height: 1em;
}
/* line 54, ../sass/sections/_header.scss */
.main-nav .menu-208 a:before,
.main-nav .menu-209 a:before {
  display: block;
  padding-top: 16px;
  font: 400 italic 16px/1.5em "ltc-bodoni-175", Georgia, serif;
  text-align: center;
  text-transform: none;
}

/* line 64, ../sass/sections/_header.scss */
.main-nav a:hover,
.main-nav .active {
  color: #dc0032;
}

/* line 68, ../sass/sections/_header.scss */
.main-nav .first {
  border: none;
}

/* line 72, ../sass/sections/_header.scss */
.main-nav .last {
  display: none;
}

/* line 2, ../sass/sections/_footer.scss */
.footer {
  padding-top: 24px;
}

/* line 6, ../sass/sections/_footer.scss */
.footer .block-title {
  position: relative;
  margin-bottom: 38px;
  color: #9e9e9e;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/* line 14, ../sass/sections/_footer.scss */
.footer .block-title:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -16px;
  width: 40px;
  height: 1px;
  background: #da0b38;
}

/* line 25, ../sass/sections/_footer.scss */
.footer .social-links {
  position: relative;
  margin-bottom: 36px;
}
/* line 28, ../sass/sections/_footer.scss */
.footer .social-links:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -16px;
  width: 40px;
  height: 1px;
  background: #da0b38;
}

/* line 40, ../sass/sections/_footer.scss */
.footer .mailing-list p {
  margin-bottom: 12px;
}
/* line 43, ../sass/sections/_footer.scss */
.footer .mailing-list label {
  position: absolute;
  top: 6px;
  left: 0;
  font: italic 400 18px/1 "ltc-bodoni-175", Georgia, serif;
}
/* line 49, ../sass/sections/_footer.scss */
.footer .mailing-list .form-text {
  padding-left: 0;
  width: 206px;
  background: none;
  border-bottom: 1px solid #fff;
}
/* line 55, ../sass/sections/_footer.scss */
.footer .mailing-list .form-actions {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 62, ../sass/sections/_footer.scss */
.footer .contact-form {
  margin-right: 0;
}
/* line 64, ../sass/sections/_footer.scss */
.footer .contact-form .webform-client-form {
  padding-top: 4px;
}

/* line 69, ../sass/sections/_footer.scss */
.footer .copyright {
  clear: both;
  padding: 1em 0;
  color: #727272;
  font-size: 0.75em;
}

/* line 76, ../sass/sections/_footer.scss */
.footer a {
  color: #ececec;
  font: 400 12px/26px "proxima-nova", Arial, sans-serif;
  text-transform: uppercase;
}

/* line 82, ../sass/sections/_footer.scss */
.footer .ss-icon {
  float: left;
  margin-right: 10px;
}

/* line 87, ../sass/sections/_footer.scss */
.footer .ss-icon a {
  padding: 5px 7px 0;
  background: #dc0032;
  border-radius: 17px;
  color: #fff;
  font-size: 1.25em;
  line-height: 30px;
}

/* line 96, ../sass/sections/_footer.scss */
.footer .mail-list .webform-component {
  float: left;
}

/* line 100, ../sass/sections/_footer.scss */
.footer .mail-list .form-actions {
  float: right;
  position: relative;
  right: auto;
  bottom: auto;
  padding-top: 10px;
}

/* line 108, ../sass/sections/_footer.scss */
.footer .mail-list label {
  color: #b0b0b0;
}

/* line 112, ../sass/sections/_footer.scss */
.footer .mail-list label span {
  font-style: italic;
}

/* line 116, ../sass/sections/_footer.scss */
.footer .mail-list input[type="email"] {
  position: relative;
  z-index: 99;
  width: 120px;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #b0b0b0;
}

/* line 126, ../sass/sections/_footer.scss */
.footer .mail-list input[type="submit"] {
  width: 40px;
}

/* line 1, ../sass/sections/_sidebar.scss */
.sidebar-right .block-title {
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* line 10, ../sass/sections/_sidebar.scss */
#block-block-2,
#block-block-3 {
  /* About Pic */
  margin-bottom: 1em;
  text-align: center;
}

/* line 15, ../sass/sections/_sidebar.scss */
#block-block-2 {
  margin-bottom: 2em;
  padding-bottom: 1em;
}

/* line 20, ../sass/sections/_sidebar.scss */
#block-block-3 .block-content img {
  width: 166px;
  height: 166px;
  border-radius: 166px;
  text-align: center;
}

/* line 27, ../sass/sections/_sidebar.scss */
#block-block-2 .block-content {
  font-size: 0.875em;
  line-height: 1.4em;
}

/* line 32, ../sass/sections/_sidebar.scss */
#block-block-2 p:first-child {
  margin-bottom: 1em;
}

/* line 36, ../sass/sections/_sidebar.scss */
#block-aggregator-feed-1 {
  margin-bottom: 1em;
  padding-top: 1em;
  text-align: center;
  border-top: 1px solid #cfcfcf;
  box-shadow: 0 -1px 0 #fff, 0 -2px 0 #fff, 0 -3px 0 #cfcfcf;
}

/* line 44, ../sass/sections/_sidebar.scss */
#block-aggregator-feed-1 .item-list {
  font: italic 400 1em/1.5em "proxima-nova", Arial, sans-serif;
}

/* line 48, ../sass/sections/_sidebar.scss */
#block-aggregator-feed-1 .more-link {
  display: none;
}

/* line 52, ../sass/sections/_sidebar.scss */
#block-block-4 {
  /* Twitter Links */
  text-align: center;
  margin-bottom: 1.5em;
}

/* line 57, ../sass/sections/_sidebar.scss */
#block-block-4 p {
  margin-bottom: 0.75em;
}

/* line 61, ../sass/sections/_sidebar.scss */
#block-block-4 .ss-icon {
  font-size: 1.3em;
  line-height: 1em;
}

/* line 66, ../sass/sections/_sidebar.scss */
#block-block-4 .atwit {
  font: 700 0.875em/1.5em "proxima-nova", Arial, sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* line 73, ../sass/sections/_sidebar.scss */
#block-block-4 .follow-us,
#block-block-2 a {
  display: block;
  padding: 2px 20px 0 0;
  line-height: 2em;
  background: url(../images/sprite.png) no-repeat -424px -174px;
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  box-shadow: 0 1px 0 #fff, 0 2px 0 #fff, 0 3px 0 #cfcfcf;
  color: #323232;
  font: 700 0.875em/1.5em "proxima-nova", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* line 87, ../sass/sections/_sidebar.scss */
#block-block-2 a {
  font-size: 1em;
}

/* line 92, ../sass/sections/_sidebar.scss */
#block-block-4 .follow-us:hover,
#block-block-2 a:hover {
  color: #dc0032;
}

/* line 96, ../sass/sections/_sidebar.scss */
#block-webform-client-block-10 {
  padding: 1em 0;
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  box-shadow: 0 -1px 0 #fff, 0 -2px 0 #fff, 0 -3px 0 #cfcfcf, 0 1px 0 #fff, 0 2px 0 #fff, 0 3px 0 #cfcfcf;
}

/* line 103, ../sass/sections/_sidebar.scss */
#block-webform-client-block-10 .block-title {
  text-align: center;
}

/* line 108, ../sass/sections/_sidebar.scss */
#block-webform-client-block-10,
#block-webform-client-block-10 .form-item {
  position: relative;
}

/* line 112, ../sass/sections/_sidebar.scss */
#block-webform-client-block-10 label {
  position: absolute;
  top: 0;
  left: 10px;
  color: #323232;
  line-height: 2.5em;
}

/* line 120, ../sass/sections/_sidebar.scss */
#block-webform-client-block-10 .description {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 126, ../sass/sections/_sidebar.scss */
#block-webform-client-block-10 textarea {
  height: 138px;
  background: #e4e4e4;
  border: none;
}

/* line 132, ../sass/sections/_sidebar.scss */
#block-webform-client-block-10 .form-text {
  margin-bottom: 1em;
  background: #e4e4e4;
  border: none;
}

/* line 138, ../sass/sections/_sidebar.scss */
#block-webform-client-block-10 .webform-component-textarea label:after {
  content: " (300 char. max)";
  font-size: 0.75em;
}

/* line 143, ../sass/sections/_sidebar.scss */
#block-webform-client-block-10 #edit-actions {
  position: absolute;
  right: 0;
  bottom: 1em;
}

/* line 149, ../sass/sections/_sidebar.scss */
#block-webform-client-block-10 input[type="submit"] {
  text-transform: uppercase;
  font-size: 0.75em;
}
