/* Vendor Dependencies */
/* Global */
* {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

iframe {
  width: 100%;
}

object {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

h1, h2, h3, h4, h5 {
  font-family: "proxima-nova", Helvetica, arial, sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 62px;
  line-height: 1;
  text-transform: uppercase;
}

h2 {
  font-size: 45px;
  line-height: 1.1em;
}

h3 {
  font-size: 21px;
  line-height: 1.25em;
  font-weight: 600;
  letter-spacing: 1px;
}

p {
  letter-spacing: 0.017em;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

/** COMMON TYPE STYLES
========================================================****/
.title-bar {
  padding: 72px 0 0;
}

.page-title {
  margin-bottom: 0.25em;
  text-align: center;
}
.page-title:after {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  margin: 24px auto 32px;
  background: #a98b11;
}

.post-title {
  font-size: 48px;
  line-height: 1.1em;
  letter-spacing: 2px;
  text-transform: none;
}

.block-page-content p,
.body p {
  margin-bottom: 1em;
}

.body a {
  color: #a98b11;
}
.body a:hover {
  color: #fff;
}

.category {
  position: relative;
  margin-bottom: 32px;
  color: #9e9e9e;
  font: italic 400 16px/1em "ltc-bodoni-175", Georgia, serif;
  letter-spacing: 2px;
  text-align: center;
}
.category:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -16px;
  width: 72px;
  height: 1px;
  margin-left: -36px;
  background: #a98b11;
}

.views-field-title a .post-title:hover {
  color: #323232;
}

.read-more a {
  color: #a98b11;
  font-size: 14px;
  text-transform: uppercase;
}
.read-more a:hover {
  color: #fff;
}

body {
  background: #000 url('../images/bg-body-int.jpg?1432830084') no-repeat center top;
  background-size: 1730px auto;
  color: #fff;
  font: 400 1em/1.5em "proxima-nova", Helvetica, arial, sans-serif;
}

.front {
  background: #fff url('../images/bg-body-home.jpg?1432830084') no-repeat center 90px;
  background-size: 1730px auto;
}

.wrapper {
  *zoom: 1;
  width: 1140px;
  margin: 0 auto;
}
.wrapper:before, .wrapper:after {
  content: " ";
  display: block;
}
.wrapper:after {
  clear: both;
}

.main .wrapper {
  width: 1212px;
  padding: 24px 36px;
  background: rgba(0, 0, 0, 0.7);
}

.front .main .wrapper {
  min-height: 700px;
  background: no-repeat;
}

.page-node-4 .content,
.page-node-5 .content,
.page-node-52 .content,
.node-type-blog-post .content,
.node-type-article .content {
  float: left;
  width: 846px;
}

.right-sidebar {
  float: right;
  width: 228px;
}

svg {
  /*   @include global-transition; */
}

svg:not(:root) {
  overflow: hidden;
}

[class^="icon-"] {
  display: inline-block;
  vertical-align: middle;
}

/*
[class*="icon-"] {
    display: inline-block;
    background: $sprite no-repeat 0 0;
}
*/
.icon-circle-twitter {
  width: 36px;
  height: 36px;
  fill: #a98b11;
}

.icon-circle-facebook {
  width: 36px;
  height: 36px;
  fill: #a98b11;
}

.icon-circle-email {
  width: 36px;
  height: 36px;
  fill: #a98b11;
}

.icon-circle-pinterest {
  width: 36px;
  height: 36px;
  fill: #a98b11;
}

.icon-prev {
  width: 12px;
  height: 22px;
  fill: #a98b11;
}

.icon-next {
  width: 12px;
  height: 22px;
  fill: #a98b11;
}

.icon-zoom {
  width: 50px;
  height: 50px;
  fill: #a98b11;
}

.icon-marker {
  width: 11px;
  height: 17px;
  background: url('../images/sprite-stores.svg?1432830084') no-repeat 0 -16px;
}

.icon-visit {
  width: 16px;
  height: 13px;
  background: url('../images/sprite-stores.svg?1432830084') no-repeat;
}

.icon-calendar {
  width: 14px;
  height: 14px;
  fill: #a98b11;
}

.webform-client-form {
  *zoom: 1;
  position: relative;
}
.webform-client-form:before, .webform-client-form:after {
  content: " ";
  display: block;
}
.webform-client-form:after {
  clear: both;
}

.form-item {
  position: relative;
  border: 1px solid #fff;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.front .form-item {
  border-color: #676767;
}

label {
  position: absolute;
  top: 3px;
  left: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.front label {
  color: #676767;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  max-width: 100%;
  padding: 5px 8px;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1em;
  font-family: "proxima-nova", Helvetica, arial, sans-serif;
}

.front input[type="text"],
.front input[type="email"],
.front input[type="password"],
.front textarea {
  color: #676767;
}

textarea {
  resize: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
  z-index: 20;
  max-width: 100%;
  height: 30px;
  padding: 0 8px;
  border: none;
  background: transparent;
  color: #fff;
  font: 700 14px/1em "proxima-nova", Helvetica, arial, sans-serif;
  text-transform: uppercase;
  text-indent: 0.01px;
  text-overflow: "";
}
select option {
  background: #000;
}

.front select {
  color: #676767;
}

.webform-component-select:before,
.form-type-select:before {
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  z-index: 10;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #a98b11;
}

.not-front.page-node-done #content {
  width: 100%;
  padding: 4em 0;
  font-size: 3em;
  font-style: italic;
  text-align: center;
}

.node-webform .webform-component {
  margin-bottom: 1em;
}

.page-node-done .links {
  display: none;
}

.description {
  font-size: 0.75em;
}

#user-login .form-item {
  margin-bottom: 1em;
}

label .form-required {
  display: none;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: none;
  box-shadow: 0 0 0 1px #a98b11;
}

.messages.error,
.form-item label.error {
  display: none;
  visibility: hidden;
}

.grid {
  *zoom: 1;
  margin: 0 -18px 24px -18px;
}
.grid:before, .grid:after {
  content: " ";
  display: block;
}
.grid:after {
  clear: both;
}

[class*='col-'] {
  float: left;
  margin-right: 36px;
}

.col-3-4 {
  width: 846px;
}

.col-2-3 {
  width: 784px;
}

.col-1-2 {
  width: 552px;
}
.col-1-2:nth-child(2n) {
  margin-right: 0;
}

.col-1-3 {
  width: 356px;
}

.col-1-4 {
  width: 258px;
}

a {
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #a98b11;
}

.btn {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid #fff;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.btn:hover {
  background: #fff;
}

input[type="submit"] {
  -moz-transition: background 0.15s ease-in;
  -o-transition: background 0.15s ease-in;
  -webkit-transition: background 0.15s ease-in;
  transition: background 0.15s ease-in;
  height: 28px;
  padding: 0 10px;
  background: #a98b11;
  border: none;
  color: #fff;
  font: 600 1em/1 "proxima-nova", Helvetica, arial, sans-serif;
  text-transform: uppercase;
}

input[type="submit"]:hover {
  background: #be9e1a;
}

/* Modules */
.tabs {
  margin: 1em 0;
  text-align: center;
}

.tabs li {
  display: inline-block;
  margin: 0 0.5em;
}
.tabs li:last-child {
  display: none;
}

.tabs a {
  display: inline-block;
  padding: 5px 10px;
  background: #a98b11;
  border-radius: 5px;
  color: #fff;
}
.tabs a:hover {
  background: #aaa;
}

.contact-form label {
  position: absolute;
  top: 3px;
  left: 10px;
}

.contact-form .description {
  position: absolute;
  top: 0;
  left: 0;
}

.contact-form .webform-component-textfield,
.contact-form .webform-component-email,
.contact-form .webform-component-select {
  float: left;
  margin-bottom: 10px;
}

.contact-form .webform-component-textfield {
  width: 190px;
  margin-right: 10px;
}

.contact-form .webform-component-email {
  width: 190px;
  margin-right: 10px;
}

.contact-form .webform-component-select {
  width: 152px;
}

.contact-form .webform-component-textarea {
  clear: both;
  width: 100%;
}

.contact-form textarea {
  height: 138px;
  resize: none;
}

.contact-form .form-actions {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.contact-form input[type="submit"] {
  text-transform: uppercase;
  font-size: 0.875em;
  font-weight: 600;
}

.share-links {
  border-bottom: 1px solid #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  clear: both;
  padding-bottom: 18px;
  text-align: center;
}
.share-links li {
  display: inline-block;
  padding: 0 10px;
}
.share-links .ss-icon {
  color: #9e9e9e;
  font-size: 20px;
  line-height: 1;
}

.sidebar-slider {
  padding-bottom: 24px;
}

.view-theater .view-content {
  position: relative;
  zoom: 1;
  padding: 0 20px;
}

.view-theater .icon-zoom {
  -moz-transition: opacity 0.15s ease-in;
  -o-transition: opacity 0.15s ease-in;
  -webkit-transition: opacity 0.15s ease-in;
  transition: opacity 0.15s ease-in;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  margin: -25px 0 0 -25px;
}

.view-theater li:hover .icon-zoom {
  opacity: 1;
}

/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  border: 1px solid #fff;
  *zoom: 1;
}

.bx-wrapper img {
  max-width: 100%;
  display: block;
}

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(images/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-controls-direction [class*="bx-"] {
  position: absolute;
  top: 50%;
  display: block;
  width: 12px;
  height: 22px;
  margin-top: -11px;
  background: url('../images/sprite.svg?1397237589');
  text-indent: -9999px;
}

.bx-controls-direction .bx-prev {
  left: -20px;
  background-position: 0 -38px;
}

.bx-controls-direction .bx-next {
  right: -20px;
  background-position: 0 -65px;
}

#lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  display: none;
}

#lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-weight: normal;
}

#lightbox img {
  width: auto;
  height: auto;
}

#lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  padding: 10px;
}

.lb-loader {
  position: absolute;
  top: 40%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
}

.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
  display: block;
}

.lb-prev {
  left: 0;
  float: left;
}

.lb-next {
  right: 0;
  float: right;
}

.lb-prev:hover {
  background: url(../images/prev.png) left 48% no-repeat;
}

.lb-next:hover {
  background: url(../images/next.png) right 48% no-repeat;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 10px;
  color: #bbbbbb;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 11px;
}

.lb-data .lb-close {
  width: 35px;
  float: right;
  padding-bottom: 0.7em;
  outline: none;
}

.lb-data .lb-close:hover {
  cursor: pointer;
}

.views-exposed-form .views-exposed-widget {
  float: none;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
}

.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0;
}

.view-filters {
  position: relative;
  margin-bottom: 48px;
  padding-top: 32px;
  text-align: center;
}
.view-filters label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font: italic 400 18px/1 "ltc-bodoni-175", Georgia, serif;
}
.view-filters .form-type-select {
  border: 1px solid #fff;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.view-filters .form-submit {
  height: 32px;
}

/* Pages */
.front .content {
  width: 588px;
  margin: 190px 0 120px;
  padding-left: 98px;
}

.front .body h1 {
  margin-bottom: 12px;
  font-size: 42px;
  letter-spacing: 0.09em;
}

.front .body p {
  margin-bottom: 32px;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.front .body a {
  display: inline-block;
  color: #fff;
  padding: 10px 30px;
  background: transparent;
  border: 2px solid #fff;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.front .body a:hover {
  background: #fff;
  color: #a98b11;
}

#block-views-gowns-block-2 {
  margin: 0 -18px;
}

#block-views-gowns-block-2 .views-row {
  float: left;
  width: 258px;
  margin: 0 18px 18px;
  border: 2px solid #efebe2;
}

#block-views-gowns-block-2 .views-row a .view-gown {
  -moz-transition: opacity 0.15s ease-in;
  -o-transition: opacity 0.15s ease-in;
  -webkit-transition: opacity 0.15s ease-in;
  transition: opacity 0.15s ease-in;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
}
#block-views-gowns-block-2 .views-row a .view-gown .title-btn {
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
#block-views-gowns-block-2 .views-row a .view-gown .title {
  margin-bottom: 24px;
  color: #fff;
  font: 400 28px/1 "ltc-bodoni-175", Georgia, serif;
}
#block-views-gowns-block-2 .views-row a .view-gown .btn {
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  width: 120px;
  padding: 0;
  border-width: 1px;
  color: #fff;
  font-size: 12px;
}
#block-views-gowns-block-2 .views-row a .view-gown .btn:hover {
  color: #a98b11;
}

#block-views-gowns-block-2 .views-row a:hover .view-gown {
  opacity: 1;
}

/** GOWN PROFILE ======================**/
.node-type-gown .content {
  *zoom: 1;
  float: none;
  width: 100%;
}
.node-type-gown .content:before, .node-type-gown .content:after {
  content: " ";
  display: block;
}
.node-type-gown .content:after {
  clear: both;
}

.node-type-gown .main {
  min-height: 800px;
}

.gown-nav {
  max-width: 1212px;
  margin: 0 auto 1em;
  border-top: 1px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
}

.gown-nav a {
  display: block;
  color: #a98b11;
  font-size: 18px;
  line-height: 1.75em;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.gown-nav a [class*="icon-"] {
  vertical-align: -5px;
}

.gown-nav .next {
  float: right;
  padding: 4px 20px 2px 30px;
  border-left: 1px solid #c6c6c6;
}

.gown-nav .prev {
  float: left;
  padding: 4px 30px 2px 20px;
  background-position: -579px -234px;
  border-right: 1px solid #c6c6c6;
}
.gown-nav .prev [class*="icon-"] {
  margin-right: 3px;
}

.gown-images {
  position: relative;
  min-height: 760px;
}

.gown-info {
  margin-right: 0;
}

.zoom-label {
  position: absolute;
  right: 3px;
  bottom: 10px;
  display: block;
  padding: 5px 10px;
  background: #fff;
  color: #adadad;
  z-index: 99;
}

.gown-images li {
  position: absolute;
  top: 0;
  left: 0;
}

.gown-images img {
  max-width: 480px;
  box-shadow: 1px 1px 0 #cecece, -1px -1px 0 #cecece, -1px 1px 0 #cecece, 1px -1px 0 #cecece;
  border: 3px solid #efebe2;
}

.gown-info .thumbs {
  margin-bottom: 1em;
  padding: 1em 0 0.5em;
  border-top: 1px solid #CFCFCF;
  border-bottom: 1px solid #CFCFCF;
}

.gown-info .thumbs li {
  float: left;
  margin: 0 14px 14px 0;
  box-shadow: 1px 1px 0 #cecece, -1px -1px 0 #cecece, -1px 1px 0 #cecece, 1px -1px 0 #cecece;
  border: 3px solid #efebe2;
}

.gown-info .thumbs li:nth-child(3n) {
  margin-right: 0;
}

.gown-info .share {
  margin-bottom: 2em;
}

.gown-info .share h3 {
  margin-bottom: 1em;
  font-size: 0.875em;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.share-gown-links li {
  float: left;
  margin-right: 10px;
}

.events-list .views-row {
  float: left;
  width: 258px;
  margin: 0 24px 1em 0;
  border: 1px solid #cfcfcf;
  text-align: center;
  min-height: 302px;
}
.events-list .views-row .image {
  margin-bottom: 16px;
}
.events-list .views-row h3 {
  font-size: 18px;
}

.events-list .attachment .views-row {
  width: 552px;
}
.events-list .attachment .views-row .image {
  float: left;
  width: 258px;
  margin-bottom: 0;
}
.events-list .attachment .views-row h3 {
  font-size: 21px;
}

.events-list .attachment .event-info {
  float: left;
  width: 292px;
  padding: 48px 10px 0;
  text-align: center;
}
.events-list .attachment .event-info .category:after {
  width: 48px;
  margin-left: -24px;
}

.events-list .event-date {
  margin-bottom: 12px;
  color: #676767;
  font-size: 14px;
  text-transform: uppercase;
}

.events-list .event-location {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.events-list .event-address {
  color: #676767;
  font-size: 14px;
  line-height: 20px;
}

/** EVENT NODE PAGE **/
.event-image {
  position: relative;
  border: 3px solid #fff;
}

.event-image .social-links {
  position: absolute;
  right: 10px;
  bottom: 12px;
}

.event-image .ss-icon {
  float: left;
  margin-right: 10px;
}

.event-image .ss-icon a {
  padding: 5px 7px 0;
  background: #a98b11;
  border-radius: 17px;
  color: #fff;
  font-size: 1.25em;
  line-height: 30px;
}

.event-image .ss-icon a:hover {
  background: #000;
}

.node-type-events .event-info .event-date {
  margin-bottom: 1em;
  color: #676767;
  text-transform: uppercase;
}

.node-type-events .event-info .event-location {
  margin-bottom: 1em;
}
.node-type-events .event-info .event-location h3 {
  text-transform: uppercase;
}
.node-type-events .event-info .event-location .address, .node-type-events .event-info .event-location .city-state {
  color: #676767;
}

.directions a,
.mark-calendar a {
  color: #d8d8d8;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.directions a:hover,
.mark-calendar a:hover {
  color: #a98b11;
}

.directions [class*="icon-"] {
  vertical-align: -2px;
  margin: 0 8px 0 2px;
}

.mark-calendar [class*="icon-"] {
  vertical-align: -1px;
  margin-right: 8px;
}

.directions {
  border-top: 1px solid #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  padding: 1em 0 0.5em;
}

.mark-calendar {
  border-bottom: 1px solid #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 2em;
  padding: 0.5em 0 1em;
}

.apt-form .description {
  position: absolute;
  top: 0;
  left: 0;
}

.apt-form .webform-component-textfield,
.apt-form .webform-component-email {
  float: left;
  clear: left;
  width: 40%;
  margin-bottom: 10px;
}

.apt-form .webform-component-textarea {
  float: right;
  width: 58%;
}

.apt-form textarea {
  height: 138px;
}

.apt-form #edit-actions {
  position: absolute;
  right: 5px;
  bottom: 10px;
}

.apt-form input[type="submit"] {
  text-transform: uppercase;
  font-size: 0.75em;
}

.page-node-4 .top {
  position: relative;
  height: 353px;
  margin-top: 80px;
}

.page-node-4 .top img {
  position: absolute;
  top: 0;
  left: 0;
}

.page-node-4 .top .block-title {
  position: relative;
  z-index: 99;
  text-align: center;
  color: #fff;
  font-size: 4em;
  line-height: 5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.page-node-4 .body {
  border-bottom: 1px solid #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 16px 24px 24px;
  font: italic 21px/34px "proxima-nova", Helvetica, arial, sans-serif;
  text-align: center;
}

.page-node-4 .content .block {
  border-bottom: 1px solid #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 32px 0 24px;
  text-align: center;
}
.page-node-4 .content .block:last-child {
  border-bottom: none;
}

.page-node-4 .content .block-title {
  position: relative;
  margin-bottom: 42px;
  font: italic 400 34px/1em "ltc-bodoni-175", Georgia, serif;
  text-transform: none;
}
.page-node-4 .content .block-title:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -21px;
  width: 54px;
  height: 1px;
  margin-left: -27px;
  background: #a98b11;
}

.page-node-4 .content .block ul {
  overflow: hidden;
  padding-top: 16px;
}

.page-node-4 .content .block li {
  float: left;
  width: 48%;
  margin-bottom: 24px;
}
.page-node-4 .content .block li img {
  width: 100% !important;
  height: auto !important;
}
.page-node-4 .content .block li:nth-child(2n+1) {
  margin-right: 4%;
}

.page-node-4 .content .block p {
  margin-bottom: 1em;
  padding: 0 0.5em;
}

.page-node-4 .content .block img {
  border: 3px solid #fff;
}

.page-node-5 .title-bar,
.node-type-blog-post .title-bar {
  padding-top: 28px;
}

.page-node-5 .page-title:before,
.node-type-blog-post .page-title:before {
  content: "the World of";
  display: block;
  margin-bottom: 16px;
  font: italic 400 28px/1em "ltc-bodoni-175", Georgia, serif;
  text-transform: none;
}

.view-blog .views-row {
  margin-bottom: 2em;
  padding-bottom: 1em;
}

.view-blog .post-title {
  margin-bottom: 48px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: none;
}

.view-blog .post-title a {
  color: #fff;
}
.view-blog .post-title a:hover {
  color: #a98b11;
}

.view-blog .post-content {
  *zoom: 1;
  margin-bottom: 24px;
}
.view-blog .post-content:before, .view-blog .post-content:after {
  content: " ";
  display: block;
}
.view-blog .post-content:after {
  clear: both;
}

.view-blog .image {
  float: left;
  margin: 0 1.5em 1em 0;
  border: 3px solid #efebe2;
}

.view-blog .post-date {
  color: #9e9e9e;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.view-blog .body img {
  display: block;
  float: left;
  margin: 0 18px 18px 0;
  border: 2px solid #fff;
}

.view-stores .views-row {
  *zoom: 1;
  border-bottom: 1px solid #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 16px 0;
}
.view-stores .views-row:before, .view-stores .views-row:after {
  content: " ";
  display: block;
}
.view-stores .views-row:after {
  clear: both;
}
.view-stores .views-row:first-of-type {
  border-top: 1px solid #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.view-stores .col {
  float: left;
}

.view-stores .store-title {
  width: 40%;
  font-size: 18px;
  font-weight: 400;
}

.view-stores .store-state {
  width: 20%;
  min-height: 1px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.view-stores .store-city {
  width: 20%;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.view-stores .store-map {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.view-stores .store-map .icon-marker {
  margin-left: 4px;
  vertical-align: -3px;
}

.view-stores .store-website {
  float: right;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.view-stores .store-website .icon-visit {
  margin-left: 4px;
  vertical-align: -1px;
}

.press-list .views-row {
  float: left;
  width: 552px;
  margin: 0 36px 3em 0;
}
.press-list .views-row:nth-child(2n) {
  margin-right: 0;
}
.press-list .views-row:nth-child(2n+1) {
  clear: left;
}

.press-list .attachment {
  border-bottom: 1px solid #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 2em;
  padding-bottom: 2em;
}

.press-list .attachment .views-row {
  width: 100%;
  margin: 0;
}

.press-list .attachment .image {
  width: 454px;
  margin-right: 36px;
  border: 2px solid #fff;
}

.press-list .attachment .post-info {
  float: left;
  width: 650px;
}

.press-list .attachment h3 {
  font-size: 30px;
  font-weight: 300;
}

.press-list .attachment .publication {
  margin-bottom: 12px;
}

.press-list .attachment .body {
  font-size: 16px;
  line-height: 24px;
}

.press-list .image {
  float: left;
  width: 160px;
  margin-right: 18px;
}

.press-list h3 {
  font-size: 18px;
  text-transform: none;
}

.press-list h3 a {
  color: #fff;
}
.press-list h3 a:hover {
  color: #a98b11;
}

.press-list .publication {
  margin-bottom: 8px;
  color: #676767;
  font-size: 14px;
  text-transform: uppercase;
}

.press-list .body {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
}

.views-field-field-article-link a {
  position: relative;
  z-index: 99;
  padding: 0 10px 0 12px;
  color: #fff;
  background: #fff;
}
.views-field-field-article-link a:hover {
  color: #a98b11;
}

.node-type-article .post-title {
  margin-bottom: 12px;
  text-align: center;
}

.article-link {
  margin-bottom: 1em;
  text-align: center;
}

#user-login {
  width: 360px;
  margin: 0 auto 4em;
}
#user-login .form-item {
  border: none;
}
#user-login label {
  position: static;
  top: auto;
  left: auto;
}
#user-login .form-text {
  border: 1px solid #fff;
}

/* Sections */
.header {
  height: 140px;
}
.header .wrapper {
  position: relative;
}

.front .header {
  height: 90px;
  background: #fff;
}

.logo {
  position: absolute;
  top: 16px;
  left: -2px;
  z-index: 99;
}

.logo a {
  display: block;
  width: 220px;
  height: 121px;
  background: url('../images/logos.svg?1432830084') no-repeat 0 -151px;
  text-indent: -9999em;
}

.front .logo a {
  width: 264px;
  height: 145px;
  background-position: 0 0;
}

.main-nav {
  position: relative;
  z-index: 99;
  float: right;
  padding-top: 24px;
}

.main-nav li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 60px;
}
.main-nav li:first-of-type {
  margin-left: 0;
}

.main-nav a {
  font: 600 0.875em/1em "proxima-nova", Helvetica, arial, sans-serif;
  text-transform: uppercase;
}
.main-nav a:hover, .main-nav a.active {
  color: #a98b11;
}

.front .main-nav a {
  color: #2b2b2b;
}
.front .main-nav a:hover {
  color: #a98b11;
}

.menu-208 a:before {
  content: "the Art of ";
}

.menu-209 a:before {
  content: "the World of ";
}

.main-nav .menu-208 a:before,
.main-nav .menu-209 a:before {
  display: block;
  font: 400 italic 15px/1em "ltc-bodoni-175", Georgia, serif;
  text-align: center;
  text-transform: none;
}

.main-nav .first {
  border: none;
}

.footer {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, #000000));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0), #000000);
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), #000000);
  background: linear-gradient(rgba(0, 0, 0, 0), #000000);
  padding-top: 24px;
}

.front .footer {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, #ffffff));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0), #ffffff);
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), #ffffff);
  background: linear-gradient(rgba(0, 0, 0, 0), #ffffff);
}

.footer a {
  font: 400 12px/26px "proxima-nova", Helvetica, arial, sans-serif, Arial, sans-serif;
  text-transform: uppercase;
}

.front .footer a {
  color: #2b2b2b;
}
.front .footer a:hover {
  color: #a98b11;
}

.footer .block-title {
  position: relative;
  margin-bottom: 38px;
  color: #9e9e9e;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.footer .block-title:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -16px;
  width: 40px;
  height: 1px;
  background: #a98b11;
}

.footer .social-links {
  position: relative;
  margin-bottom: 36px;
}
.footer .social-links:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -16px;
  width: 40px;
  height: 1px;
  background: #a98b11;
}

.footer .mailing-list p {
  margin-bottom: 12px;
}

.front .footer .mailing-list p {
  color: #676767;
}

.footer .mailing-list .form-item {
  border: none;
}

.footer .mailing-list label {
  position: absolute;
  top: 6px;
  left: 0;
  font: italic 400 18px/1 "ltc-bodoni-175", Georgia, serif;
  text-transform: none;
}

.footer .mailing-list .form-item .form-text {
  padding-left: 0;
  width: 206px;
  background: none;
  border-bottom: 1px solid #fff;
}

.front .footer .mailing-list .form-item .form-text {
  border-color: #676767;
}

.footer .mailing-list .form-item .error {
  border: none;
  border-bottom: 1px solid #fff;
  box-shadow: none;
}

.front .footer .mailing-list .form-item .error {
  border-color: #676767;
}

.footer .mailing-list .form-actions {
  position: absolute;
  bottom: 0;
  right: 0;
}

.footer .contact-form {
  margin-right: 0;
}
.footer .contact-form .webform-client-form {
  padding-top: 4px;
}

.footer .copyright {
  clear: both;
  padding: 1em 0;
  color: #727272;
  font-size: 0.75em;
}

.right-sidebar .block {
  border-bottom: 1px solid #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.right-sidebar .block-title {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.right-sidebar p {
  letter-spacing: 0.01em;
}

.right-sidebar p:last-of-type a {
  display: inline-block;
  padding: 3px 20px;
  border: 2px solid #fff;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.right-sidebar p:last-of-type a:hover {
  background: #fff;
}

/** About Blocks ======================**/
.right-sidebar .sidebar-about-thumb {
  margin-bottom: 1em;
  border-bottom: none;
  text-align: center;
}
.right-sidebar .sidebar-about-thumb img {
  width: 166px;
  height: 166px;
  border-radius: 50%;
  text-align: center;
}

.sidebar-about-content {
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
}
.sidebar-about-content p:first-of-type {
  margin-bottom: 1em;
  font-size: 14px;
  line-height: 21px;
}

/** Twitter Block ===============**/
#block-aggregator-feed-1 {
  border-top: 1px solid #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 1em;
  padding-top: 1em;
  text-align: center;
}

#block-aggregator-feed-1 .item-list {
  font: italic 400 1em/1.5em "proxima-nova", Arial, sans-serif;
}

#block-aggregator-feed-1 .more-link {
  display: none;
}

.sidebar-twitter {
  margin-bottom: 1.5em;
  padding-bottom: 0.75em;
  text-align: center;
}
.sidebar-twitter p {
  margin-bottom: 0.75em;
}

.sidebar-twitter .ss-icon {
  color: #fff;
  font-size: 1.3em;
  line-height: 1em;
}
.sidebar-twitter .ss-icon:hover {
  color: #a98b11;
}

/** Request From ===============**/
.right-sidebar .request-form {
  border-bottom: none;
}

.request-form {
  position: relative;
}
.request-form .form-item {
  margin-bottom: 1em;
}

.request-form label {
  position: absolute;
  top: 3px;
  left: 10px;
}

#block-webform-client-block-10 textarea {
  height: 138px;
}

#block-webform-client-block-10 #edit-actions {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

#block-webform-client-block-10 input[type="submit"] {
  text-transform: uppercase;
  font-size: 0.75em;
}
