.sidebar-slider {
    padding-bottom: $base;
}

.view-theater .view-content {
	position: relative;
	zoom: 1;
	padding: 0 20px;
}

.view-theater .icon-zoom {
/* 	display: none; */
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;	
}

.view-theater li:hover .icon-zoom {
	display: block;
}


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
	position: relative;
	margin: 0 auto 60px;
	padding: 0;
	border: 1px solid #fff;
	*zoom: 1;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
}


/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(images/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}


/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-controls-direction [class*="bx-"] {
    position: absolute;
    top: 50%;
	display: block;
	width: 12px;
	height: 22px;
	margin-top: -11px;
	background: $sprite;
	text-indent: -9999px;
}

.bx-controls-direction .bx-prev {
    left: -20px;
    background-position: 0 -38px;
}

.bx-controls-direction .bx-next {
    right: -20px;
    background-position: 0 -65px;
}
