.page-node-5 .page-title:before {
	content: "the World of";
	display: block;	
	margin-bottom: 16px;
    font: italic $book 28px/1em $bodoni;
    text-transform: none;
}

.view-blog .views-row {
	margin-bottom: 2em;
	padding-bottom: 1em;
}

.view-blog .post-title {
    margin-bottom: $base*2;
    text-align: center;
    letter-spacing: 2px;
    text-transform: none;
    a {
        color: #fff;
        &:hover {
            color: $red;
        }
    }
}

.view-blog .post-content {
    @include cf;
    margin-bottom: $base;
}

.view-blog .image {
	float: left;
	margin: 0 1.5em 1em 0;
	border: 3px solid #efebe2;
}

.view-blog .post-date {
    color: $grey;
    font-size: 14px;
    font-weight: $bold;
    text-transform: uppercase;
}