
#block-views-gowns-block-2 {
    margin: 0 -18px;
}

#block-views-gowns-block-2 .views-row {
	float: left;
	width: 258px;
	margin: 0 18px 18px;
	border: 2px solid #efebe2;

}

#block-views-gowns-block-2 .views-row a .view-gown {
    @include single-transition(opacity, 0.15s, ease-in);
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(#000, 0.6);
    text-align: center;
    .title-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
    }
    .title {
        margin-bottom: $base;
        color: #fff;
        font: $book 28px/1 $bodoni;        
    }
    .btn {
        width: 120px;
        padding: 0;
        border-width: 1px;
        font-size: 12px;
    }
}

#block-views-gowns-block-2 .views-row a:hover .view-gown {
    opacity: 1;
}



/** GOWN PROFILE ======================**/

.node-type-gown .content {
    @include cf;
    float: none;
    width: 100%;
}

.node-type-gown .main {
	min-height: 800px;
}

.gown-nav {
    max-width: 1212px;
    margin: 0 auto 1em;
	border-top: 1px solid #c6c6c6;
	border-bottom: 1px solid #c6c6c6;
}

.gown-nav a {
	display: block;
	padding: 5px 30px;
	background: url(../images/sprite.png) no-repeat -489px -169px;
	font-family: "proxima-nova",Arial,sans-serif;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.gown-nav .next {
	float: right;
	padding-left: 20px;
	border-left: 1px solid #c6c6c6;
}

.gown-nav .prev {
	float: left;
	padding-right: 20px;
	background-position: -579px -234px;
	border-right: 1px solid #c6c6c6;
}

.gown-images {
	position: relative;
	min-height: 760px
}

.gown-info {
    margin-right: 0;
}

.zoom-label {
	position: absolute;
	right: 3px;
	bottom: 10px;
	display: block;
	padding: 5px 10px;
	background: #fff;
	color: #adadad;
	z-index: 99;
}

.gown-images li {
	position: absolute;
	top: 0;
	left: 0;
}

.gown-images img {
	max-width: 480px;
	box-shadow: 1px 1px 0 #cecece, -1px -1px 0 #cecece, -1px 1px 0 #cecece, 1px -1px 0 #cecece;
	border: 3px solid #efebe2;
}

.gown-info .post-title {
    font: $book 45px/1.25em $bodoni;        
}

.gown-info .thumbs {
	margin-bottom: 1em;
    padding: 1em 0 0.5em;
    border-top: 1px solid #CFCFCF;
    border-bottom: 1px solid #CFCFCF;
}

.gown-info .thumbs li {
	float: left;
	margin: 0 14px 14px 0;
	box-shadow: 1px 1px 0 #cecece, -1px -1px 0 #cecece, -1px 1px 0 #cecece, 1px -1px 0 #cecece;
	border: 3px solid #efebe2;	
}

.gown-info .thumbs li:nth-child(3n) {
	margin-right: 0;
}

.gown-info .ss-icon {
	float: left;
	margin-right: 10px;
}

.gown-info .ss-icon a {
	padding: 5px 7px 0;
	background: #dc0032;
	border-radius: 17px;
	color: #fff;
	font-size: 1.25em;
	line-height: 30px;
}

.gown-info .ss-icon a:hover {
	background: #323232;
}

.gown-info .share {
	margin-bottom: 2em;
}

.gown-info .share h3 {
	margin-bottom: 1em;
	font-size: 0.875em;
	font-weight: 700;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}
