
.page-node-4 .top {
	position: relative;
	height: 353px;
	margin-top: 80px;
}

.page-node-4 .top img {
	position: absolute;
	top: 0;
	left: 0;
}

.page-node-4 .top .block-title {
	position: relative;
	z-index: 99;
	text-align: center;
	color: #fff;
	font-size: 4em;
	line-height: 5em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.page-node-4 .body {
    @include border-bottom;
	padding: 16px 24px $base;
	font: italic 21px/34px $proxima;
	text-align: center;
}

.page-node-4 .content .block {
    @include border-bottom;
	padding: 32px 0 42px;
	text-align: center;
	&:last-child {
    	border-bottom: none;
	}
}

.page-node-4 .content .block-title {
    position: relative;
	margin-bottom: 42px;
	font: italic 400 34px/1em $bodoni;
	text-transform: none;
    &:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -21px;
        width: 54px;
        height: 1px;
        margin-left: -27px;
        background: $red;
    }
}

.page-node-4 .content .block ul {
	overflow: hidden;
	padding-top: 16px;
}

.page-node-4 .content .block li {
	float: left;
	width: 48%;
	img {
    	width: 100% !important;
    	height: auto !important;
	}
    &:nth-child(2n+1) {
    	margin-right: 4%;
    }
}

.page-node-4 .content .block p {
	margin-bottom: 1em;
	padding: 0 0.5em;
}

.page-node-4 .content .block img {
	border: 3px solid #fff;
}
