

.page-node-4 .top {
	position: relative;
	height: 353px;
	margin-top: 80px;
}

.page-node-4 .top img {
	position: absolute;
	top: 0;
	left: 0;
}

.page-node-4 .top .block-title {
	position: relative;
	z-index: 99;
	text-align: center;
	color: #fff;
	font-size: 4em;
	line-height: 5em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.page-node-4 .body {
    @include border-bottom;
	padding-top: 1em;
	font: italic 1.625em/1.385em $bodoni;
	text-align: center;
}

.page-node-4 .content .block {
    @include border-bottom;
	padding: 2em 0;
	text-align: center;
}

.page-node-4 .content .block-title {
	margin-bottom: 24px;
	font: italic 400 2.25em/1em $bodoni;
	text-transform: none;
}

.page-node-4 .content .block ul {
	overflow: hidden;
}

.page-node-4 .content .block li {
	float: left;
	width: 358px;
}

.page-node-4 .content .block li:nth-child(2n+1) {
	margin-right: 1em;
}

.page-node-4 .content .block p {
	margin-bottom: 1em;
	padding: 0 0.5em;
}

.page-node-4 .content .block img {
	border: 3px solid #fff;
}

#block-block-13 li {
	margin-bottom: 1em;
}
