
.events-list .views-row {
	float: left;
	width: 258px;
	margin: 0 24px 1em 0;
	border: 1px solid #cfcfcf;
	text-align: center;
	min-height: 302px;
	.image {
    	margin-bottom: 16px;
	}
	h3 {
    	font-size: 18px;
	}
}

.events-list .attachment .views-row {
	width: 552px;
    .image {
    	float: left;
    	width: 258px;
    	margin-bottom: 0;
    }
    h3 {
        font-size: 21px;
    }
}

.events-list  .attachment .event-info {
	float: left;
	width: 292px;
	padding: 48px 10px 0;
	text-align: center;
	.category:after {
    	width: 48px;
    	margin-left: -24px;
	}
}

.events-list .event-date {
    margin-bottom: 12px;
	color: $dk-grey;
	font-size: 14px;
	text-transform: uppercase;
}

.events-list .event-location {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
}

.events-list .event-address {
    color: $dk-grey;
    font-size: 14px;
    line-height: 20px;
}




/** EVENT NODE PAGE **/

.event-image {
	position: relative;
	border: 3px solid #fff;
}

.event-image .social-links {
	position: absolute;
	right: 10px;
	bottom: 12px;
}

.event-image .ss-icon {
	float: left;
	margin-right: 10px;
}

.event-image .ss-icon a {
	padding: 5px 7px 0;
	background: $red;
	border-radius: 17px;
	color: #fff;
	font-size: 1.25em;
	line-height: 30px;
}

.event-image .ss-icon a:hover {
	background: #000;
}

.event-info .event-date {
	margin-bottom: 1em;
	color: $dk-grey;
	text-transform: uppercase;
}

.event-info .event-location {
	margin-bottom: 1em;
    h3 {
    	text-transform: uppercase;
    }
    .address, .city-state {
        color: $dk-grey;
    }
}

.directions a,
.mark-calendar a {
    color: $lt-grey;
	font-weight: $bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.directions a:hover,
.mark-calendar a:hover {
	color: $red;
}

.directions [class*="icon-"] {
    vertical-align: -2px;
    margin: 0 8px 0 2px;
}

.mark-calendar [class*="icon-"] {
    vertical-align: -1px;
    margin-right: 8px;
}

.directions {
    @include border-top;
	padding: 1em 0 0.5em;
}

.mark-calendar {
    @include border-bottom;
	margin-bottom: 2em;
	padding: 0.5em 0 1em;
}

.apt-form .description {
	position: absolute;
	top: 0;
	left: 0;
}

.apt-form .webform-component-textfield,
.apt-form .webform-component-email {
	float: left;
	clear: left;
	width: 40%;
	margin-bottom: 10px;
}

.apt-form .webform-component-textarea {
	float: right;
	width: 58%;
}

.apt-form textarea {
	height: 138px;
}

.apt-form #edit-actions {
	position: absolute;
	right: 5px;
	bottom: 10px;
}

.apt-form input[type="submit"] {
	text-transform: uppercase;
	font-size: 0.75em;
}

