
.front .content {
    width: 588px;
    margin: 190px 0 $base*5;
    padding-left: 98px
}

.front .body {
    h1 {
        margin-bottom: 12px;
        font-size: 42px;
    }
    p {
        margin-bottom: 32px;
        font-size: 15px;
        line-height: 24px;
    }
    a {
        display: inline-block;
        color: #fff;
        padding: 10px 30px;
        background: transparent;
        border: 2px solid #fff;
        font-weight: $bold;
        letter-spacing: 3px;
        text-transform: uppercase;
        &:hover {
            background: #fff;
            color: $red;
        }
    }
}