
.press-list .views-row {
	float: left;
    width: 552px;
    margin: 0 $gutter 3em 0;
    &:nth-child(2n) {
        margin-right: 0;
    }
    &:nth-child(2n+1) {
        clear: left;
    }
}

.press-list .attachment {
    @include border-bottom;
    margin-bottom: 2em;
	padding-bottom: 2em;
	.views-row {
    	width: 100%;
    	margin: 0;
	}
	.image {
    	width: 454px;
    	margin-right: $gutter;
    	border: 2px solid #fff;
	}
	.post-info {
	    float: left;
    	width: 650px;
	}
	h3 {
    	font-size: 30px;
    	font-weight: 300;
	}
    .publication {
    	margin-bottom: 12px;
    }
}

.press-list .image {
	float: left;
	width: 160px;
	margin-right: 18px;
}

/*
.press-list .post-info {
    float: left;
    width: 374px;
}
*/

.press-list h3 {
	font-size: 18px;
	text-transform: none;
	a {
    	color: #fff;
    	&:hover {
        	color: $red;
    	}
	}
}

.press-list .publication {
    margin-bottom: 8px;
    color: $dk-grey;
    font-size: 14px;
    text-transform: uppercase;
}

.press-list .body {
    font-size: 14px;
    line-height: 20px;
}

.views-field-field-article-link a {
	position: relative;
	z-index: 99;
	padding: 0 10px 0 12px;
	color: #fff;
	background: #fff;
	&:hover {
    	color: $red;
    }
}

.node-type-article .post-title {
    margin-bottom: 12px;
    text-align: center;
}

.article-link {
    margin-bottom: 1em;
    text-align: center;
}
