body {
    background: fixed $bg-body no-repeat center top #000;
    color: #fff;
	font: $book 1em/1.5em $proxima;
	&.front {
    	background: #000;
	}
}

.wrapper {
    @include cf;
    width: 1140px;
    margin: 0 auto;
}

.main .wrapper {
    width: 1212px;
    padding: $base 36px;
    background: rgba(#000, 0.7);
}

.page-node-4 .content,
.page-node-5 .content,
.node-type-blog-post .content,
.node-type-article .content {
    float: left;
    width: 846px;
}

.right-sidebar {
    float: right;
	width: 228px;
}

