
.btn {
    display: inline-block;
    color: #fff;
    padding: 5px 10px;
    border: 2px solid #fff;
    font-weight: $bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    &:hover {
        color: $red;
        border-color: $red;
    }
}

