
.webform-client-form {
  @include cf;
  position: relative;
}

.form-item {
  position: relative;
	border: 1px solid #fff;
	border: 1px solid rgba(#fff, 0.4);
}

.front .form-item {
  border-color: $dk-grey;
}

label {
	position: absolute;
	top: 3px;
	left: 10px;
	color: #fff;
	font-size: 14px;
	font-weight: $bold;
	text-transform: uppercase;    
}

.front label {
  color: $dk-grey;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  @include appearance(none);
  outline: none; 
	max-width: 100%;
	padding: 5px 8px;
	background: transparent;
	border: none;
	color: #fff;
	font-size: 1em;
	font-family: $proxima;
}

.front input[type="text"],
.front input[type="email"],
.front input[type="password"],
.front textarea {
  color: $dk-grey;
}

textarea {
  resize: none;
}

select {
  @include appearance(none);
  position: relative;
  z-index: 20;
	max-width: 100%;
  height: 30px;
	padding: 0 8px;
	border: none;
	background: transparent;
	color: #fff;
  font: $bold 14px/1em $proxima;
  text-transform: uppercase;
  text-indent: 0.01px;
  text-overflow: "";

  option {
    background: #000;
  }
}

.front select {
  color: $dk-grey;
}

.webform-component-select:before,
.form-type-select:before {
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  z-index: 10;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $gold;
}

input[type="submit"] {
  @include single-transition(background, 0.15s, ease-in);
  height: 28px;
	padding: 0 8px;
	background: $gold;
	border: none;
	color: #fff;
	font: $semi 1em/1 $proxima;
	text-transform: uppercase;
}

input[type="submit"]:hover {
	background: #be9e1a;
}

.not-front.page-node-done #content {
	width: 100%;
	padding: 4em 0;
	font-size: 3em;
	font-style: italic;
	text-align: center;
}

.node-webform .webform-component {
	margin-bottom: 1em;
}

.page-node-done .links {
	display: none;
}

.description {
	font-size: 0.75em;
}

#user-login .form-item {
	margin-bottom: 1em;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: none;
	box-shadow:  0 0 0 1px $gold;
}

.messages.error,
.form-item label.error {
  display: none;
  visibility: hidden;
}
