
[class*="icon-"] {
    display: inline-block;
    background: $sprite no-repeat 0 0;
}

.icon-marker {
    width: 11px;
    height: 16px;
}

.icon-visit {
    width: 16px;
    height: 13px;
    background-position: 0 -19px;
}

.icon-zoom {
    width: 50px;
    height: 50px;
    background-position: 0 -91px;
}

.icon-calendar {
    width: 14px;
    height: 14px;
    background-position: 0 -149px;
}