
$bg-body: image-url("bg-body-int.jpg");

$bg-body-home: image-url("bg-body-home.jpg");

$logos: image-url("logos.svg");

$sprite: image-url("sprite.svg");

$sprite-stores: image-url("sprite-stores.svg");