$bodoni: "ltc-bodoni-175", Georgia, serif;
$proxima: "proxima-nova", Helvetica, arial, sans-serif;

$light: 300;
$book: 400;
$semi: 600;
$bold: 700;

$base: 24px;

h1,h2,h3,h4,h5 {
	font-family: $proxima;
	font-weight: 300;
}

h1 {
	font-size: 62px;
	line-height: 1;
	text-transform: uppercase;
}

h2 {
	font-size: 45px;
	line-height: 1.1em;
}

h3 {
  font-size: 21px;
  line-height: 1.25em;
  font-weight: $semi;
  letter-spacing: 1px;
}

p {
  letter-spacing: 0.017em;
}

em {
  font-style: italic;
}

strong {
  font-weight: $bold;
}

a {
  @include single-transition(all, 0.15s, ease-in);
	color: #fff;
	text-decoration: none;

  &:hover {
  	color: $gold;
  }
}


/** COMMON TYPE STYLES
========================================================****/

.title-bar {
  padding: $base*3 0 0;
}

.page-title {
	margin-bottom: 0.25em;
	text-align: center;

	&:after {
  	content: "";
  	display: block;
  	width: 100px;
  	height: 2px;
  	margin: $base auto 32px;
  	background: $gold;
	}
}

.post-title {
  font-size: 48px;
  line-height: 1.1em;
  letter-spacing: 2px;
  text-transform: none;
}

.block-page-content p,
.body p {
	margin-bottom: 1em;
}

.body a {
  color: $gold;

  &:hover {
      color: #fff;
  }
}

.category {
  position: relative;
  margin-bottom: 32px;
  color: $grey;
  font: italic $book 16px/1em $bodoni;
  letter-spacing: 2px;
  text-align: center;

  &:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -16px;
    width: 72px;
    height: 1px;
    margin-left: -36px;
    background: $gold;
  }
}

.views-field-title a .post-title:hover {
	color: #323232;
}

.read-more a {
  color: $gold;
  font-size: 14px;
	text-transform: uppercase;

	&:hover {
  	color: #fff;
	}
}
