$bodoni: "ltc-bodoni-175", Georgia, serif;
$proxima: "proxima-nova", Helvetica, arial, sans-serif;

$light: 300;
$book: 400;
$semi: 600;
$bold: 700;

$base: 24px;

h1,h2,h3,h4,h5 {
	font-family: $proxima;
	font-weight: 300;
}

h1 {
	font-size: 62px;
	line-height: 1;
	text-transform: uppercase;
}

h2 {
	font-size: 45px;
	line-height: 1.1em;
}

h3 {
    font-size: 21px;
    line-height: 1.25em;
    font-weight: $bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

em {
    font-style: italic;
}

strong {
    font-weight: $bold;
}

a {
    @include single-transition(all, 0.15s, ease-in);
	color: $red;
	text-decoration: none;
    &:hover {
    	color: #fff;
    }
}


/** COMMON TYPE STYLES
========================================================****/

.title-bar {
    padding: $base*3 0 $base;
}

.page-title {
	margin-bottom: 0.25em;
	text-align: center;
}

.post-title {
/*  font: $book 48px/1.1em $bodoni */
    font-size: 48px;
    line-height: 1.1em;
    letter-spacing: 2px;
    text-transform: none;
}

.block-page-content p,
.body p {
	margin-bottom: 1em;
}

.category {
    position: relative;
    margin-bottom: 32px;
    color: $grey;
    font: italic $book 16px/1em $bodoni;
    letter-spacing: 2px;
    text-align: center;
    &:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -16px;
        width: 72px;
        height: 1px;
        margin-left: -36px;
        background: $red;
    }
}

.views-field-title a .post-title:hover {
	color: #323232;
}

.read-more {
	font: 700 0.875em/1em $proxima;
	letter-spacing: 1px;
	text-transform: uppercase;
}

