
.footer {
  @include background( linear-gradient(color-stops( transparent, #000 )) );
  padding-top: $base;
}

.footer a {
  font: 400 12px/26px $proxima, Arial, sans-serif;
  text-transform: uppercase;
}

.footer .block-title {
  position: relative;
  margin-bottom: 38px;
  color: $grey;
  font-size: 16px;
  font-weight: $bold;
  letter-spacing: 2px;
  text-transform: uppercase;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -16px;
    width: 40px;
    height: 1px;
    background: $gold;
  }
}

.footer .social-links {
  position: relative;
  margin-bottom: 36px;
  
  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -16px;
    width: 40px;
    height: 1px;
    background: $gold;
  }
}

.footer .mailing-list p {
  margin-bottom: 12px;
}

.footer .mailing-list .form-item {
  border: none;
}

.footer .mailing-list label {
  position: absolute;
  top: 6px;
  left: 0;
  font: italic $book 18px/1 $bodoni;
  text-transform: none;
}

.footer .mailing-list .form-item .form-text {
  padding-left: 0;
  width: 206px;
  background: none;
  border-bottom: 1px solid #fff;
}

.footer .mailing-list .form-item .error {
  border: none;
  border-bottom: 1px solid #fff;  
}

.footer .mailing-list .form-actions {
  position: absolute;
  top: 0;
  right: 0;
}

.footer .contact-form {
  margin-right: 0;

  .webform-client-form {
    padding-top: 4px;
  }
}

.footer .copyright {
  clear: both;
  padding: 1em 0;
  color: #727272;
  font-size: 0.75em;
}


