.header {
	height: 70px;
	.wrapper {
    	position: relative;
	}
}

.logo {
	position: absolute;
	top: 0;
	left: -2px;
	z-index: 99;
    a {
    	display: block;
    	width: 185px;
    	height: 102px;
    	background: $logos no-repeat 0 -196px;
    	text-indent: -9999em;
    }
}

.front .logo a {
    width: 335px;
    height: 185px;
    background-position: 0 0;
}

.main-nav {
	position: relative;
	z-index: 99;
	float: right;
	padding-top: 32px;
}

.main-nav li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 60px;
    &:first-of-type {
        margin-left: 0;
    }
}

.main-nav a {
	color: #efebe2;
	font: $semi 0.813em/1em $proxima;
	text-transform: uppercase;
	&:hover, &.active {
    	color: $red;
	}
}

.menu-208 a:before {
	content: "the Art of";
}

.menu-209 a:before {
	content: "the World of";
}

.main-nav .menu-208 a:before,
.main-nav .menu-209 a:before {
    display: block;
    font: $book italic 16px/1em $bodoni;
    text-align: center;
    text-transform: none;
}

.main-nav .first {
	border: none;
}
