.right-sidebar .block {
    border-bottom: 1px solid rgba(#fff, 0.4);
}

.right-sidebar .block-title {
	margin-bottom: 12px;
	font-size: 1em;
	font-weight: $semi;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: center;
}

.right-sidebar p:last-of-type a {
    display: inline-block;
    color: #fff;
    padding: 3px 20px;
    border: 2px solid #fff;
    font-size: 12px;
    font-weight: $bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}




/** About Blocks ======================**/

.right-sidebar .sidebar-about-thumb {
    margin-bottom: 1em;
    border-bottom: none;
    text-align: center;
    img {
    	width: 166px;
    	height: 166px;
    	border-radius: 50%;
    	text-align: center;
    }
}

.sidebar-about-content {
	margin-bottom: 1em;
	text-align: center;
}

.sidebar-about-content {
	margin-bottom: 2em;
	padding-bottom: 1em;
}

.sidebar-about-content p:first-of-type {
	margin-bottom: 1em;
    font-size: 14px;
    line-height: 21px;
}




/** Twitter Block ===============**/

#block-aggregator-feed-1 {
	margin-bottom: 1em;
	padding-top: 1em;
	text-align: center;
	border-top: 1px solid #cfcfcf;
	box-shadow: 0 -1px 0 #fff, 0 -2px 0 #fff, 0 -3px 0 #cfcfcf;
}

#block-aggregator-feed-1 .item-list {
	font: italic 400 1em/1.5em "proxima-nova", Arial, sans-serif;
}

#block-aggregator-feed-1 .more-link {
	display: none;
}

#block-block-4 { /* Twitter Links */
	text-align: center;
	margin-bottom: 1.5em;
}

#block-block-4 p {
	margin-bottom: 0.75em;
}

#block-block-4 .ss-icon {
	font-size: 1.3em;
	line-height: 1em;
}

#block-block-4 .atwit {
	font: 700 0.875em/1.5em "proxima-nova", Arial, sans-serif;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}


/** Request From ===============**/

.right-sidebar .request-form {
    border-bottom: none;
}

.request-form {
    position: relative;
    .form-item {
        margin-bottom: 1em;
    	border: 1px solid #fff;
    	border: 1px solid rgba(#fff, 0.4);
    }
}

.request-form label {
	position: absolute;
	top: 3px;
	left: 10px;
	color: #fff;
	font-size: 14px;
	font-weight: $bold;
	text-transform: uppercase;
}


#block-webform-client-block-10 textarea {
	height: 138px;
}

#block-webform-client-block-10 #edit-actions {
	position: absolute;
	right: 5px;
	bottom: 5px;
}

#block-webform-client-block-10 input[type="submit"] {
	text-transform: uppercase;
	font-size: 0.75em;
}

