.right-sidebar .block {
    @include border-bottom;
}

.right-sidebar .block-title {
	margin-bottom: 12px;
	font-size: 16px;
	font-weight: $semi;
	text-align: center;
    text-transform: uppercase;
}

.right-sidebar p {
    letter-spacing: 0.01em;
}

.right-sidebar p:last-of-type a {
    display: inline-block;
    padding: 3px 20px;
    border: 2px solid #fff;
    font-size: 12px;
    font-weight: $bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    &:hover {
        background: #fff;
    }
}




/** About Blocks ======================**/

.right-sidebar .sidebar-about-thumb {
    margin-bottom: 1em;
    border-bottom: none;
    text-align: center;
    img {
    	width: 166px;
    	height: 166px;
    	border-radius: 50%;
    	text-align: center;
    }
}

.sidebar-about-content {
	margin-bottom: 1.5em;
	padding-bottom: 1.5em;
	text-align: center;
    p:first-of-type {
    	margin-bottom: 1em;
        font-size: 14px;
        line-height: 21px;
    }
}



/** Twitter Block ===============**/

#block-aggregator-feed-1 {
    @include border-top;
	margin-bottom: 1em;
	padding-top: 1em;
	text-align: center;
}

#block-aggregator-feed-1 .item-list {
	font: italic 400 1em/1.5em "proxima-nova", Arial, sans-serif;
}

#block-aggregator-feed-1 .more-link {
	display: none;
}

.sidebar-twitter {
	margin-bottom: 1.5em;
	padding-bottom: 0.75em;
	text-align: center;
    p {
    	margin-bottom: 0.75em;
    }
}

.sidebar-twitter .ss-icon {
    color: #fff;
	font-size: 1.3em;
	line-height: 1em;
	&:hover {
    	color: $gold;
	}
}


/** Request From ===============**/

.right-sidebar .request-form {
    border-bottom: none;
}

.request-form {
    position: relative;
    .form-item {
        margin-bottom: 1em;
    }
}

.request-form label {
	position: absolute;
	top: 3px;
	left: 10px;
}


#block-webform-client-block-10 textarea {
	height: 138px;
}

#block-webform-client-block-10 #edit-actions {
	position: absolute;
	right: 5px;
	bottom: 5px;
}

#block-webform-client-block-10 input[type="submit"] {
	text-transform: uppercase;
	font-size: 0.75em;
}

